<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>

  <script src="https://unpkg.com/vue"></script>
  <script src="dist/notebooklab.js"></script>
</head>
<body>
  <div id="app" class="container-fluid">
    <input
      type="file"
      @change="openFile($event)"
      v-if="!json" />
    <notebook-lab
      v-if="json"
      :notebook="json"
      code-css-class="code white" />
  </div>
  <script>
    Vue.use(NotebookLab);
    new Vue({
      el: '#app',
      data: {
        json: {
         "cells": [
          {
           "cell_type": "markdown",
           "metadata": {},
           "source": [
            "# Hello world #\n",
            "\n",
            "Escaping LaTeX with `$$<math>$$` works:\n",
            "\n",
            "$$ \\sin^2(x) + \\cos^2(x) = 1 $$\n",
            "\n",
            "Escaping LaTeX with `\\begin{equation}<math>\\end{equation}` does not work:\n",
            "\n",
            "\\begin{equation}\n",
            "\\sin^2(x) + \\cos^2(x) = 1\n",
            "\\end{equation}\n",
            "\n",
            "Inline LaTeX does not work: $\\sin^2(x) + \\cos^2(x) = 1$"
           ]
          }
         ],
         "metadata": {
          "kernelspec": {
           "display_name": "Python 3",
           "language": "python",
           "name": "python3"
          },
          "language_info": {
           "codemirror_mode": {
            "name": "ipython",
            "version": 3
           },
           "file_extension": ".py",
           "mimetype": "text/x-python",
           "name": "python",
           "nbconvert_exporter": "python",
           "pygments_lexer": "ipython3",
           "version": "3.5.2"
          }
         },
         "nbformat": 4,
         "nbformat_minor": 2
       },
      },
      methods: {
        openFile(e) {
          const reader = new FileReader();
          reader.onload = (e) => {
            this.json = JSON.parse(e.target.result);
          };
          reader.readAsText(e.target.files[0]);
        },
      },
    });
  </script>
</body>
